<h1>Add a new cocktail</h1>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= v.input :photo_cache, as: :hidden %>
  <%= v.submit "Submit", class: "btn btn-default" %>
  <%= f.submit 'Add a cocktail', class: 'btn btn-primary' %>
<% end %>

