<div class="container"
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1><%= @cocktail.name %></h1>

      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %>
            of
            <%= dose.ingredient.name %>
          </li>
        <% end %>
      </ul>

      <h3>Add an ingredient</h3>
      <%=simple_form_for([ @cocktail, @dose ]) do |f| %>
        <%= f.input :description %>
        <%= f.input :ingredient_id,
          collection: Ingredient.order(:name),
          prompt: "Please choose..."
        %>

        <%# Example of custom error message display %>
        <%# if @dose.errors.any? %>
          <%# @dose.errors.full_messages.each do |message| %>
            <!-- <p><%#= message %></p> -->
          <%# end %>
        <%# end %>

        <%= f.submit 'Add ingredient', class: "btn btn-primary" %>
      <% end %>
        <%= link_to "Back to all", cocktails_path %>
      </div>
    </div>
  </div>

